// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Aquila AM69 Clover CSI1 IMX219 Raspiberry Camera Videtronic
 *
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/media/video-interfaces.h>

/ {
	compatible = "toradex,aquila-am69";
};

&{/} {
	clk_cam_csi1_osc24: clk-cam-csi1-osc24 {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <24000000>;
	};

	regulator_cam_csi1: regulator-cam-csi1 {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_09_csi_1>;
		/* Aquila GPIO_09_CSI_1 - BergStark Connector 26 */
		gpio = <&main_gpio0 1 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-name = "V_CSI1";
		startup-delay-us = <5000>;
	};
};

&csi0_port0 {
	status = "okay";

	csi2rx0_in: endpoint {
		remote-endpoint = <&cam_csi1_out>;
		bus-type = <MEDIA_BUS_TYPE_CSI2_DPHY>;
		clock-lanes = <0>;
		data-lanes = <1 2>;
	};
};

&dphy0 {
	status = "okay";
};

/* Aquila I2C_4_CSI1 */
&main_i2c1 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	camera@10 {
		compatible = "sony,imx219";
		reg = <0x10>;
		clocks = <&clk_cam_csi1_osc24>;
		clock-names = "xclk";
		VANA-supply = <&regulator_cam_csi1>;
		VDIG-supply = <&regulator_cam_csi1>;
		VDDL-supply = <&regulator_cam_csi1>;

		port {
			cam_csi1_out: endpoint {
				remote-endpoint = <&csi2rx0_in>;
				clock-lanes = <0>;
				data-lanes = <1 2>;
				link-frequencies = /bits/ 64 <456000000>;
			};
		};
	};
};

&ti_csi2rx0 {
	status = "okay";
};
